<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Memory</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/posts/new" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">To : </label>
                    <input class="form-control" type="text" name="title" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="body">Say your thoughts : </label>
                    <textarea class="form-control" type="text" name="body" id="body" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="privacy">Set privacy : </label>
                    <select class="form-select" name="privacy" id="privacy">
                        <option value="public" selected>Public</option>
                        <option value="friends">Friends</option>
                    </select>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success" type="submit">Share</button>
                </div>
            </form>
            <a href="/posts">All memories</a>
        </div>
    </div>